@use '../../styles/base/' as *;
.typewriter {
    position: relative;
    font-size: $font-size-l;
    color: $color-c-5;
    font-family: $font-headline;
    letter-spacing: 1px;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.225);
}