@use '../../styles/base' as *;

.hero {
    position: relative;
    font-family: $font-headline;
    height: calc(100vh - 5rem);
    
  @media screen and (max-width: 768px) {
    width: 100vh;
  }

  h2 {
    text-align: center;
    font-family: $font-headline;
  }

  > img {
    position: absolute;
    left: 0;
    top: 0;
    max-height: 100%;
    max-width: 50%;
  }
        .profile {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 100;
        }

        p {
            font-size: inherit;
            color: $color-5;
            position: absolute;
            top: 15vh;
            left: 2rem;
        }
    }      
