.talk {
  position: absolute;
  left: 0vw;
  top: 35vh;
  z-index: 100;
  display: grid;
  place-content: center;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.425));
  transform: scale(0.6);

  @media (min-width: 768px) {
    position: absolute;
    left: 20vw;
    top: 0vh;
    transform: scale(1);
  }

  .svg_wrapper {
    position: relative;
    max-width: 100%;
    height: 100%;
    filter: drop-shadow(4px 4px 1px rgb(0, 0, 0));
    z-index: 100;

    @media (min-width: 768px) {
        width: 100%;
        height: 100%;
      }

    svg {
      position: absolute;
      top: 0;
      left: 0;
      transform: scale(-1, 1);

      @media (min-width: 768px) {
        transform: scale(1);
      }
    }
  }

  .text_wrapper {
    position: absolute;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 1rem 2rem 4rem;
    z-index: 500;
  }
}
