.content {
  background: rgb(243, 208, 53);
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  perspective: 2000px;
}

.box {
  position: relative;
  margin-top: 5vh;
  height: 40vh;
  width: 40vw;
  background: radial-gradient(
    ellipse at center,
    rgba(255, 166, 0, 0.411),
    rgba(255, 0, 0, 0.253)
  );
  box-shadow: 0 10px 20px rgb(36, 36, 36), 0px 0px 20px rgb(0, 0, 0);
  border-radius: 20px;
  transform-style: preserve-3d;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
}

.image img {
  width: 30%;
  z-index: 2;
  opacity: 1;
}

.text {
  position: relative;
}

h1 {
  margin-top: 1vh;
  font-size: 40px;
  text-align: center;
  text-shadow: 1px 1px rgba(255, 166, 0, 0.616),
    0px 0px 20px rgba(5, 131, 5, 0.842);
}

h2 {
  font-size: 20px;
  color: rgb(0, 0, 0);
  text-align: center;
}

.btns {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

button {
  padding: 0.5vw 0.2vh;
  width: 10vw;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 3px;
  box-shadow: 0px 2px 5px rgb(36, 35, 35), 0px 0px 20px rgb(0, 0, 0);
  cursor: pointer;
}
