
// colors

$color-header-bg: #ffec9c;
$color-blue: #2444a3;

$color-c-1: #fed829;
$color-c-2: #e089c9;
$color-c-3: #9659b8;
$color-c-4: #6c49a0;
$color-c-5: #fefefe;
$color-c-6: #fb6342;

$color-1: #ffffff;
$color-2: #e4e4df;
$color-3: #b9b4b1;
$color-4: #63615d;
$color-5: #2a2622;


$color-bg-dark: #2b2a28;
$color-bg-dark-alt: #1d1b1b;
$color-text-dark: #e4e4df;

$color-bg-light: #ffec9c;
$color-bg-light-alt: #fff;
$color-text-light: #010101;





// colors client
$color-client-1: #fff;
$color-client-2: #888;
$color-client-3: #000;


// color scrollbar
$color-scrollbar-bg: $color-5;
$color-li-arrow: #61505A;


// color gradients
$color-gradient-gold: linear-gradient(120deg, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
$color-gradient-purplish: linear-gradient(120deg, #574650, #E6D5DF, #61505A, #DDCCD6, #6F5E68);
$color-gradient-black: linear-gradient(120deg, $color-5, $color-text-light, $color-bg-dark, $color-5, $color-text-light);
$color-gradient-white: linear-gradient(120deg, $color-1, $color-2, $color-1, $color-3, $color-2);
$color-gradient-sun: linear-gradient(to right, #eb2b16, #f5af19);
$color-gradient-sun-dark: linear-gradient(to right, $color-c-6, #e2b332);

