@use './colors' as *;

.lightmode {
    background-color: $color-bg-light;
    color: $color-1;
    transition: all 0.5s ease-in-out;

    h1 {
        color: $color-5;
    }

    h2 {
        color: $color-4
    }

    p {
        color: $color-4;
    }

    ~ .soc-icon {
        color: $color-client-3;
    }

    .title {
        background-image: $color-gradient-sun;
    }

   /*  .card {
        background-color: $color-card-bg;
        color: $color-2;
    }
 */

    /* a {
        color: $color-link;
        background-color: $color-1;

        &:hover {
            color: darken($color-link, 5%);
        }
    } */


}

.darkmode {
    background-color: $color-bg-dark;
    color: $color-client-1;
    transition: all 0.5s ease-in-out;

    h1 {
        color: $color-1;
    }

    h2 {
        color: $color-1;
    }

    p {
        color: $color-1;
    }

    .title {
        background-image: $color-gradient-sun-dark;
    }

    /* .card {
        background-color: $color-card-dark-bg;
        color: $color-dark-2;
    } */

/* 
    a {
        color: $color-link-dark;
        background-color: $color-black;

        &:hover {
            color: darken($color-link-dark, 5%);
        }
    } */
}